.BlockThree {
    margin: 0 auto;
    padding: 0 auto;
    height: 600px;
    width: 100%;
}

.block_three {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.three_text {
    text-align: start;
    width: 447px;
}